set_location foo.counter_RNI08Q71[22] 8 5 0 # SB_LUT4 (LogicCell: foo.counter_RNI08Q71[22]_LC_0)
set_location foo.counter_RNI9NE82[14] 8 6 4 # SB_LUT4 (LogicCell: foo.counter_RNI9NE82[14]_LC_1)
set_location foo.counter_RNIALJ44[2] 8 5 1 # SB_LUT4 (LogicCell: foo.counter_RNIALJ44[2]_LC_2)
set_location foo.counter_RNIEHGH[1] 8 6 3 # SB_LUT4 (LogicCell: foo.counter_RNIEHGH[1]_LC_3)
set_location foo.counter_RNIJ8NM[2] 8 5 6 # SB_LUT4 (LogicCell: foo.counter_RNIJ8NM[2]_LC_4)
set_location foo.counter_RNIOTN71[10] 8 5 5 # SB_LUT4 (LogicCell: foo.counter_RNIOTN71[10]_LC_5)
set_location foo.counter_RNIV5131[7] 8 6 1 # SB_LUT4 (LogicCell: foo.counter_RNIV5131[7]_LC_6)
set_location foo.counter_RNIV6AU[4] 8 5 4 # SB_LUT4 (LogicCell: foo.counter_RNIV6AU[4]_LC_7)
set_location foo.counter_RNO[0] 8 5 3 # SB_LUT4 (LogicCell: foo.counter[0]_LC_8)
set_location foo.counter[0] 8 5 3 # SB_DFFSR (LogicCell: foo.counter[0]_LC_8)
set_location foo.counter_RNO[1] 8 6 2 # SB_LUT4 (LogicCell: foo.counter[1]_LC_9)
set_location foo.counter[1] 8 6 2 # SB_DFFSR (LogicCell: foo.counter[1]_LC_9)
set_location foo.counter_RNO[10] 8 5 2 # SB_LUT4 (LogicCell: foo.counter[10]_LC_10)
set_location foo.counter[10] 8 5 2 # SB_DFFSR (LogicCell: foo.counter[10]_LC_10)
set_location foo.counter_RNO[11] 8 6 6 # SB_LUT4 (LogicCell: foo.counter[11]_LC_11)
set_location foo.counter[11] 8 6 6 # SB_DFFSR (LogicCell: foo.counter[11]_LC_11)
set_location foo.counter_RNO[12] 9 6 3 # SB_LUT4 (LogicCell: foo.counter[12]_LC_12)
set_location foo.counter[12] 9 6 3 # SB_DFFSR (LogicCell: foo.counter[12]_LC_12)
set_location foo.un5_counter_cry_12_c 9 6 3 # SB_CARRY (LogicCell: foo.counter[12]_LC_12)
set_location foo.counter_RNO[13] 9 6 4 # SB_LUT4 (LogicCell: foo.counter[13]_LC_13)
set_location foo.counter[13] 9 6 4 # SB_DFFSR (LogicCell: foo.counter[13]_LC_13)
set_location foo.un5_counter_cry_13_c 9 6 4 # SB_CARRY (LogicCell: foo.counter[13]_LC_13)
set_location foo.counter_RNO[14] 9 6 5 # SB_LUT4 (LogicCell: foo.counter[14]_LC_14)
set_location foo.counter[14] 9 6 5 # SB_DFFSR (LogicCell: foo.counter[14]_LC_14)
set_location foo.un5_counter_cry_14_c 9 6 5 # SB_CARRY (LogicCell: foo.counter[14]_LC_14)
set_location foo.counter_RNO[15] 8 6 7 # SB_LUT4 (LogicCell: foo.counter[15]_LC_15)
set_location foo.counter[15] 8 6 7 # SB_DFFSR (LogicCell: foo.counter[15]_LC_15)
set_location foo.counter_RNO[16] 8 8 0 # SB_LUT4 (LogicCell: foo.counter[16]_LC_16)
set_location foo.counter[16] 8 8 0 # SB_DFFSR (LogicCell: foo.counter[16]_LC_16)
set_location foo.counter_RNO[17] 8 8 1 # SB_LUT4 (LogicCell: foo.counter[17]_LC_17)
set_location foo.counter[17] 8 8 1 # SB_DFFSR (LogicCell: foo.counter[17]_LC_17)
set_location foo.counter_RNO[18] 9 7 1 # SB_LUT4 (LogicCell: foo.counter[18]_LC_18)
set_location foo.counter[18] 9 7 1 # SB_DFFSR (LogicCell: foo.counter[18]_LC_18)
set_location foo.un5_counter_cry_18_c 9 7 1 # SB_CARRY (LogicCell: foo.counter[18]_LC_18)
set_location foo.counter_RNO[19] 8 8 2 # SB_LUT4 (LogicCell: foo.counter[19]_LC_19)
set_location foo.counter[19] 8 8 2 # SB_DFFSR (LogicCell: foo.counter[19]_LC_19)
set_location foo.counter_RNO[2] 9 5 1 # SB_LUT4 (LogicCell: foo.counter[2]_LC_20)
set_location foo.counter[2] 9 5 1 # SB_DFFSR (LogicCell: foo.counter[2]_LC_20)
set_location foo.un5_counter_cry_2_c 9 5 1 # SB_CARRY (LogicCell: foo.counter[2]_LC_20)
set_location foo.counter_RNO[20] 8 8 3 # SB_LUT4 (LogicCell: foo.counter[20]_LC_21)
set_location foo.counter[20] 8 8 3 # SB_DFFSR (LogicCell: foo.counter[20]_LC_21)
set_location foo.counter_RNO[21] 9 7 4 # SB_LUT4 (LogicCell: foo.counter[21]_LC_22)
set_location foo.counter[21] 9 7 4 # SB_DFFSR (LogicCell: foo.counter[21]_LC_22)
set_location foo.un5_counter_cry_21_c 9 7 4 # SB_CARRY (LogicCell: foo.counter[21]_LC_22)
set_location foo.counter_RNO[22] 9 7 5 # SB_LUT4 (LogicCell: foo.counter[22]_LC_23)
set_location foo.counter[22] 9 7 5 # SB_DFFSR (LogicCell: foo.counter[22]_LC_23)
set_location foo.counter_RNO[3] 9 5 2 # SB_LUT4 (LogicCell: foo.counter[3]_LC_24)
set_location foo.counter[3] 9 5 2 # SB_DFFSR (LogicCell: foo.counter[3]_LC_24)
set_location foo.un5_counter_cry_3_c 9 5 2 # SB_CARRY (LogicCell: foo.counter[3]_LC_24)
set_location foo.counter_RNO[4] 9 5 3 # SB_LUT4 (LogicCell: foo.counter[4]_LC_25)
set_location foo.counter[4] 9 5 3 # SB_DFFSR (LogicCell: foo.counter[4]_LC_25)
set_location foo.un5_counter_cry_4_c 9 5 3 # SB_CARRY (LogicCell: foo.counter[4]_LC_25)
set_location foo.counter_RNO[5] 9 5 4 # SB_LUT4 (LogicCell: foo.counter[5]_LC_26)
set_location foo.counter[5] 9 5 4 # SB_DFFSR (LogicCell: foo.counter[5]_LC_26)
set_location foo.un5_counter_cry_5_c 9 5 4 # SB_CARRY (LogicCell: foo.counter[5]_LC_26)
set_location foo.counter_RNO[6] 9 5 5 # SB_LUT4 (LogicCell: foo.counter[6]_LC_27)
set_location foo.counter[6] 9 5 5 # SB_DFFSR (LogicCell: foo.counter[6]_LC_27)
set_location foo.un5_counter_cry_6_c 9 5 5 # SB_CARRY (LogicCell: foo.counter[6]_LC_27)
set_location foo.counter_RNO[7] 8 6 0 # SB_LUT4 (LogicCell: foo.counter[7]_LC_28)
set_location foo.counter[7] 8 6 0 # SB_DFFSR (LogicCell: foo.counter[7]_LC_28)
set_location foo.counter_RNO[8] 8 8 4 # SB_LUT4 (LogicCell: foo.counter[8]_LC_29)
set_location foo.counter[8] 8 8 4 # SB_DFFSR (LogicCell: foo.counter[8]_LC_29)
set_location foo.counter_RNO[9] 9 6 0 # SB_LUT4 (LogicCell: foo.counter[9]_LC_30)
set_location foo.counter[9] 9 6 0 # SB_DFFSR (LogicCell: foo.counter[9]_LC_30)
set_location foo.un5_counter_cry_9_c 9 6 0 # SB_CARRY (LogicCell: foo.counter[9]_LC_30)
set_location foo.enable_RNIKS5P6 8 6 5 # SB_LUT4 (LogicCell: foo.enable_RNIKS5P6_LC_31)
set_location foo.enable_RNO 7 6 0 # SB_LUT4 (LogicCell: foo.enable_LC_32)
set_location foo.enable 7 6 0 # SB_DFF (LogicCell: foo.enable_LC_32)
set_location bar.leds_0_THRU_LUT4_0 8 7 0 # SB_LUT4 (LogicCell: bar.leds[0]_LC_33)
set_location bar.leds[0] 8 7 0 # SB_DFFES (LogicCell: bar.leds[0]_LC_33)
set_location bar.leds_1_THRU_LUT4_0 8 7 1 # SB_LUT4 (LogicCell: bar.leds[1]_LC_34)
set_location bar.leds[1] 8 7 1 # SB_DFFER (LogicCell: bar.leds[1]_LC_34)
set_location bar.leds_2_THRU_LUT4_0 8 7 2 # SB_LUT4 (LogicCell: bar.leds[2]_LC_35)
set_location bar.leds[2] 8 7 2 # SB_DFFER (LogicCell: bar.leds[2]_LC_35)
set_location bar.leds_3_THRU_LUT4_0 8 7 3 # SB_LUT4 (LogicCell: bar.leds[3]_LC_36)
set_location bar.leds[3] 8 7 3 # SB_DFFER (LogicCell: bar.leds[3]_LC_36)
set_location foo.un5_counter_cry_10_THRU_LUT4_0 9 6 2 # SB_LUT4 (LogicCell: foo.un5_counter_cry_10_THRU_LUT4_0_LC_37)
set_location foo.un5_counter_cry_11_c 9 6 2 # SB_CARRY (LogicCell: foo.un5_counter_cry_10_THRU_LUT4_0_LC_37)
set_location foo.un5_counter_cry_14_THRU_LUT4_0 9 6 6 # SB_LUT4 (LogicCell: foo.un5_counter_cry_14_THRU_LUT4_0_LC_38)
set_location foo.un5_counter_cry_15_c 9 6 6 # SB_CARRY (LogicCell: foo.un5_counter_cry_14_THRU_LUT4_0_LC_38)
set_location foo.un5_counter_cry_15_THRU_LUT4_0 9 6 7 # SB_LUT4 (LogicCell: foo.un5_counter_cry_15_THRU_LUT4_0_LC_39)
set_location foo.un5_counter_cry_16_c 9 6 7 # SB_CARRY (LogicCell: foo.un5_counter_cry_15_THRU_LUT4_0_LC_39)
set_location foo.un5_counter_cry_16_THRU_LUT4_0 9 7 0 # SB_LUT4 (LogicCell: foo.un5_counter_cry_16_THRU_LUT4_0_LC_40)
set_location foo.un5_counter_cry_17_c 9 7 0 # SB_CARRY (LogicCell: foo.un5_counter_cry_16_THRU_LUT4_0_LC_40)
set_location foo.un5_counter_cry_18_THRU_LUT4_0 9 7 2 # SB_LUT4 (LogicCell: foo.un5_counter_cry_18_THRU_LUT4_0_LC_41)
set_location foo.un5_counter_cry_19_c 9 7 2 # SB_CARRY (LogicCell: foo.un5_counter_cry_18_THRU_LUT4_0_LC_41)
set_location foo.un5_counter_cry_19_THRU_LUT4_0 9 7 3 # SB_LUT4 (LogicCell: foo.un5_counter_cry_19_THRU_LUT4_0_LC_42)
set_location foo.un5_counter_cry_20_c 9 7 3 # SB_CARRY (LogicCell: foo.un5_counter_cry_19_THRU_LUT4_0_LC_42)
set_location foo.un5_counter_cry_6_THRU_LUT4_0 9 5 6 # SB_LUT4 (LogicCell: foo.un5_counter_cry_6_THRU_LUT4_0_LC_43)
set_location foo.un5_counter_cry_7_c 9 5 6 # SB_CARRY (LogicCell: foo.un5_counter_cry_6_THRU_LUT4_0_LC_43)
set_location foo.un5_counter_cry_7_THRU_LUT4_0 9 5 7 # SB_LUT4 (LogicCell: foo.un5_counter_cry_7_THRU_LUT4_0_LC_44)
set_location foo.un5_counter_cry_8_c 9 5 7 # SB_CARRY (LogicCell: foo.un5_counter_cry_7_THRU_LUT4_0_LC_44)
set_location foo.un5_counter_cry_9_THRU_LUT4_0 9 6 1 # SB_LUT4 (LogicCell: foo.un5_counter_cry_9_THRU_LUT4_0_LC_45)
set_location foo.un5_counter_cry_10_c 9 6 1 # SB_CARRY (LogicCell: foo.un5_counter_cry_9_THRU_LUT4_0_LC_45)
set_location foo.un5_counter_cry_1_c 9 5 0 # SB_CARRY (LogicCell: foo.un5_counter_cry_1_c_LC_46)
set_location GND -1 -1 -1 # GND
set_io clk_ibuf_gb_io 13 9 0 # ICE_GB_IO
set_io foo.N_28_g_gb 0 8 1 # ICE_GB
set_io leds_obuf[0] 13 12 1 # ICE_IO
set_io leds_obuf[1] 13 12 0 # ICE_IO
set_io leds_obuf[2] 13 11 1 # ICE_IO
set_io leds_obuf[3] 13 11 0 # ICE_IO
set_io reset_ibuf 4 0 0 # ICE_IO
