set_location counter_RNI9CJM[6] 1 7 7 # SB_LUT4 (LogicCell: counter_RNI9CJM[6]_LC_0)
set_location counter_RNIB06D[1] 2 5 0 # SB_LUT4 (LogicCell: counter_RNIB06D[1]_LC_1)
set_location counter_RNIFVVV[12] 1 7 0 # SB_LUT4 (LogicCell: counter_RNIFVVV[12]_LC_2)
set_location counter_RNIJDFG[0] 2 6 2 # SB_LUT4 (LogicCell: counter_RNIJDFG[0]_LC_3)
set_location counter_RNIOBJM1[6] 1 7 1 # SB_LUT4 (LogicCell: counter_RNIOBJM1[6]_LC_4)
set_location counter_RNO[0] 2 6 4 # SB_LUT4 (LogicCell: counter[0]_LC_5)
set_location counter[0] 2 6 4 # SB_DFFSR (LogicCell: counter[0]_LC_5)
set_location counter_RNO[1] 2 6 1 # SB_LUT4 (LogicCell: counter[1]_LC_6)
set_location counter[1] 2 6 1 # SB_DFFSR (LogicCell: counter[1]_LC_6)
set_location counter_RNO[10] 1 7 2 # SB_LUT4 (LogicCell: counter[10]_LC_7)
set_location counter[10] 1 7 2 # SB_DFFSR (LogicCell: counter[10]_LC_7)
set_location counter_RNO[11] 1 6 2 # SB_LUT4 (LogicCell: counter[11]_LC_8)
set_location counter[11] 1 6 2 # SB_DFFSR (LogicCell: counter[11]_LC_8)
set_location un5_counter_cry_11_c 1 6 2 # SB_CARRY (LogicCell: counter[11]_LC_8)
set_location counter_RNO[12] 1 6 3 # SB_LUT4 (LogicCell: counter[12]_LC_9)
set_location counter[12] 1 6 3 # SB_DFFSR (LogicCell: counter[12]_LC_9)
set_location counter_RNO[2] 1 5 1 # SB_LUT4 (LogicCell: counter[2]_LC_10)
set_location counter[2] 1 5 1 # SB_DFFSR (LogicCell: counter[2]_LC_10)
set_location un5_counter_cry_2_c 1 5 1 # SB_CARRY (LogicCell: counter[2]_LC_10)
set_location counter_RNO[3] 1 5 2 # SB_LUT4 (LogicCell: counter[3]_LC_11)
set_location counter[3] 1 5 2 # SB_DFFSR (LogicCell: counter[3]_LC_11)
set_location un5_counter_cry_3_c 1 5 2 # SB_CARRY (LogicCell: counter[3]_LC_11)
set_location counter_RNO[4] 1 7 6 # SB_LUT4 (LogicCell: counter[4]_LC_12)
set_location counter[4] 1 7 6 # SB_DFFSR (LogicCell: counter[4]_LC_12)
set_location counter_RNO[5] 2 6 3 # SB_LUT4 (LogicCell: counter[5]_LC_13)
set_location counter[5] 2 6 3 # SB_DFFSR (LogicCell: counter[5]_LC_13)
set_location counter_RNO[6] 1 7 5 # SB_LUT4 (LogicCell: counter[6]_LC_14)
set_location counter[6] 1 7 5 # SB_DFFSR (LogicCell: counter[6]_LC_14)
set_location counter_RNO[7] 1 5 6 # SB_LUT4 (LogicCell: counter[7]_LC_15)
set_location counter[7] 1 5 6 # SB_DFFSR (LogicCell: counter[7]_LC_15)
set_location un5_counter_cry_7_c 1 5 6 # SB_CARRY (LogicCell: counter[7]_LC_15)
set_location counter_RNO[8] 1 7 3 # SB_LUT4 (LogicCell: counter[8]_LC_16)
set_location counter[8] 1 7 3 # SB_DFFSR (LogicCell: counter[8]_LC_16)
set_location counter_RNO[9] 1 7 4 # SB_LUT4 (LogicCell: counter[9]_LC_17)
set_location counter[9] 1 7 4 # SB_DFFSR (LogicCell: counter[9]_LC_17)
set_location enable_RNO 2 7 4 # SB_LUT4 (LogicCell: enable_LC_18)
set_location enable 2 7 4 # SB_DFF (LogicCell: enable_LC_18)
set_location un5_counter_cry_3_THRU_LUT4_0 1 5 3 # SB_LUT4 (LogicCell: un5_counter_cry_3_THRU_LUT4_0_LC_19)
set_location un5_counter_cry_4_c 1 5 3 # SB_CARRY (LogicCell: un5_counter_cry_3_THRU_LUT4_0_LC_19)
set_location un5_counter_cry_4_THRU_LUT4_0 1 5 4 # SB_LUT4 (LogicCell: un5_counter_cry_4_THRU_LUT4_0_LC_20)
set_location un5_counter_cry_5_c 1 5 4 # SB_CARRY (LogicCell: un5_counter_cry_4_THRU_LUT4_0_LC_20)
set_location un5_counter_cry_5_THRU_LUT4_0 1 5 5 # SB_LUT4 (LogicCell: un5_counter_cry_5_THRU_LUT4_0_LC_21)
set_location un5_counter_cry_6_c 1 5 5 # SB_CARRY (LogicCell: un5_counter_cry_5_THRU_LUT4_0_LC_21)
set_location un5_counter_cry_7_THRU_LUT4_0 1 5 7 # SB_LUT4 (LogicCell: un5_counter_cry_7_THRU_LUT4_0_LC_22)
set_location un5_counter_cry_8_c 1 5 7 # SB_CARRY (LogicCell: un5_counter_cry_7_THRU_LUT4_0_LC_22)
set_location un5_counter_cry_8_THRU_LUT4_0 1 6 0 # SB_LUT4 (LogicCell: un5_counter_cry_8_THRU_LUT4_0_LC_23)
set_location un5_counter_cry_9_c 1 6 0 # SB_CARRY (LogicCell: un5_counter_cry_8_THRU_LUT4_0_LC_23)
set_location un5_counter_cry_9_THRU_LUT4_0 1 6 1 # SB_LUT4 (LogicCell: un5_counter_cry_9_THRU_LUT4_0_LC_24)
set_location un5_counter_cry_10_c 1 6 1 # SB_CARRY (LogicCell: un5_counter_cry_9_THRU_LUT4_0_LC_24)
set_location un5_counter_cry_1_c 1 5 0 # SB_CARRY (LogicCell: un5_counter_cry_1_c_LC_25)
set_location GND -1 -1 -1 # GND
set_io clk_ibuf_gb_io 0 9 0 # ICE_GB_IO
set_io enable_obuf 0 6 1 # ICE_IO
set_io reset_ibuf 0 2 0 # ICE_IO
