set_location IN_MUX_bfv_1_5_0_ 1 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_1_6_0_ 1 6 0 #ICE_CARRY_IN_MUX
set_location un5_counter_cry_9_THRU_LUT4_0 1 6 1 #SB_LUT4
set_location un5_counter_cry_8_THRU_LUT4_0 1 6 0 #SB_LUT4
set_location un5_counter_cry_7_THRU_LUT4_0 1 5 7 #SB_LUT4
set_location un5_counter_cry_5_THRU_LUT4_0 1 5 5 #SB_LUT4
set_location un5_counter_cry_4_THRU_LUT4_0 1 5 4 #SB_LUT4
set_location un5_counter_cry_3_THRU_LUT4_0 1 5 3 #SB_LUT4
set_location counter_RNO[8] 1 7 3 #SB_LUT4
set_location counter_RNI9CJM[6] 1 7 7 #SB_LUT4
set_location counter[3] 1 5 2 #SB_DFFSR
set_location un5_counter_cry_7_c 1 5 6 #SB_CARRY
set_location un5_counter_cry_6_c 1 5 5 #SB_CARRY
set_location un5_counter_cry_11_c 1 6 2 #SB_CARRY
set_location counter_RNO[1] 2 6 1 #SB_LUT4
set_location counter[8] 1 7 3 #SB_DFFSR
set_location counter[10] 1 7 2 #SB_DFFSR
set_location counter[1] 2 6 1 #SB_DFFSR
set_location counter_RNO[3] 1 5 2 #SB_LUT4
set_location counter_RNO[11] 1 6 2 #SB_LUT4
set_location counter[12] 1 6 3 #SB_DFFSR
set_location counter_RNIJDFG[0] 2 6 2 #SB_LUT4
set_location counter[7] 1 5 6 #SB_DFFSR
set_location un5_counter_cry_9_c 1 6 0 #SB_CARRY
set_location un5_counter_cry_8_c 1 5 7 #SB_CARRY
set_location counter_RNO[5] 2 6 3 #SB_LUT4
set_location counter[4] 1 7 6 #SB_DFFSR
set_location un5_counter_cry_5_c 1 5 4 #SB_CARRY
set_location un5_counter_cry_10_c 1 6 1 #SB_CARRY
set_location enable_RNO 2 7 4 #SB_LUT4
set_location counter_RNO[6] 1 7 5 #SB_LUT4
set_location counter[5] 2 6 3 #SB_DFFSR
set_location GND -1 -1 -1 #GND
set_location un5_counter_cry_2_c 1 5 1 #SB_CARRY
set_location un5_counter_cry_1_c 1 5 0 #SB_CARRY
set_location counter_RNO[7] 1 5 6 #SB_LUT4
set_location counter_RNIB06D[1] 2 5 0 #SB_LUT4
set_location counter[2] 1 5 1 #SB_DFFSR
set_location counter_RNO[0] 2 6 4 #SB_LUT4
set_location counter[11] 1 6 2 #SB_DFFSR
set_location counter_RNO[9] 1 7 4 #SB_LUT4
set_location counter_RNIOBJM1[6] 1 7 1 #SB_LUT4
set_location counter[0] 2 6 4 #SB_DFFSR
set_location un5_counter_cry_4_c 1 5 3 #SB_CARRY
set_location un5_counter_cry_3_c 1 5 2 #SB_CARRY
set_location counter_RNO[2] 1 5 1 #SB_LUT4
set_location counter_RNO[12] 1 6 3 #SB_LUT4
set_location counter[9] 1 7 4 #SB_DFFSR
set_location enable 2 7 4 #SB_DFF
set_location counter_RNIFVVV[12] 1 7 0 #SB_LUT4
set_location counter[6] 1 7 5 #SB_DFFSR
set_location counter_RNO[4] 1 7 6 #SB_LUT4
set_location counter_RNO[10] 1 7 2 #SB_LUT4
set_io reset 34
set_io enable 23
set_io clk 20
